<!DOCTYPE html>
<html>
<head>
  <title>Student Verification System</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <style>
.vl {
  border-left: 6px solid green;
  height: 500px;
}
</style>
</head>
<body style="background-color: #879dcc">
  



<div class="container">
  <div class="row">
    <div class="col-4">
      <section>

    <h1>Filters</h1>

   <hr class="mb-4"> <!-- Section: Condition -->
    <section class="mb-4">

      <h2 class="font-weight-bold mb-3" style="color: white">Placement Status</h2>

      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="new">
        <label class="form-check-label small text-uppercase card-link-secondary" for="new">Placed</label>
      </div>
      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="used">
        <label class="form-check-label small text-uppercase card-link-secondary" for="used">Unplaced</label>
      </div>
     

    </section>
    <!-- Section: Condition -->
<hr class="mb-4">
    <section class="mb-4">

      <h2 class="font-weight-bold mb-3" style="color: white">Ogpa</h2>

      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="new">
        <label class="form-check-label small text-uppercase card-link-secondary" for="new">Below 6.5</label>
      </div>
      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="used">
        <label class="form-check-label small text-uppercase card-link-secondary" for="used"> 6.5 - 7.5 </label>
      </div>
      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="collectible">
        <label class="form-check-label small text-uppercase card-link-secondary" for="collectible">Above 7.5</label>
      </div>
     

    </section>
<hr class="mb-4">
    <section class="mb-4">

      <h2 class="font-weight-bold mb-3" style="color: white">Skills</h2>

      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="new">
        <label class="form-check-label small text-uppercase card-link-secondary" for="new">C</label>
      </div>
      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="used">
        <label class="form-check-label small text-uppercase card-link-secondary" for="used">Cpp</label>
      </div>
      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="collectible">
        <label class="form-check-label small text-uppercase card-link-secondary" for="collectible">Java</label>
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input type="checkbox" class="form-check-input filled-in" id="renewed">
        <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Python</label>
      </div>

    </section>
<hr class="mb-4">
    <section class="mb-4">

      <h2 class="font-weight-bold mb-3" style="color: white">Department</h2>

      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="new">
        <label class="form-check-label small text-uppercase card-link-secondary" for="new">Computer Science Engineering</label>
      </div>
      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="used">
        <label class="form-check-label small text-uppercase card-link-secondary" for="used">Electronics and Electrical Engineering</label>
      </div>
      <div class="form-check pl-0 mb-3">
        <input type="checkbox" class="form-check-input filled-in" id="collectible">
        <label class="form-check-label small text-uppercase card-link-secondary" for="collectible">Mining And Agriculture Engineering</label>
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input type="checkbox" class="form-check-input filled-in" id="renewed">
        <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Mechanical Engineering</label>
      </div>
      <div class="form-check pl-0 mb-3 pb-1">
        <input type="checkbox" class="form-check-input filled-in" id="renewed">
        <label class="form-check-label small text-uppercase card-link-secondary" for="renewed">Civil Engineering</label>
      </div>

    </section>
<hr class="mb-4">
   
   
<button class="button" id="btn" type="submit" value="Search">Search</button>
</section>

    </div>


    <div class="col-8">
      
     <table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>

    </div>
  </div>
</div>
<!-- Section: Sidebar -->
</body>
</html>
