<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style1.css">


</head>
<body style="background-color: #879dcc">

<section class="S8">
<h2 style="text-align: center; color:#000000;">Admin Panel</h2>
<div class="container1">
<div class="row align-items-center">
<div class="col-lg-5 col-xl-5">
<div class="S1_text">
<div class="S1_text_inner">
</div>
</div>
</div>
</div>
</div>
&nbsp;&nbsp;
<div class="main">
<div class="cards">
<div class="image">
  <br>
<img src="img/regi.png" class="center">
</div>
<div class="title">
<h3 style="color:#879dcc; text-align: center ; font-size: 20px;">Register new Student</h3>
</div>
<div class="des">

<button id="reg" style="background-color:#879dcc; padding:10px; border-radius:7px;">Register</button></a>
<br>
<br>
</div>
</div>

<div class="cards">
<div class="image1">
  <br>
<img src="img/sign.png" style="height: 170px;" class="center">
</div>
<div class="title">
<h3 style="color:#879dcc; text-align: center ; font-size: 20px;">Enter details of a student</h3>
</div>
<div class="des">

<a href="search.html"><button style="background-color:#879dcc; color:black; padding:10px; border-radius:7px;">Enter</button></a>
<br>
<br>
</div>
</div>

<div class="cards">
<div class="image2">
  <br>
<img src="img/buildings.png" style="height: 180px;" class="center">
</div>
<div class="title">
<h3 style="color:#879dcc; text-align: center ; font-size: 20px;">Placement Panel</h3><br>
</div>
<div class="des">

<a href="search.html"><button style="background-color:#879dcc; color:black; padding:10px; border-radius:7px;">Search</button></a>
<br>
<br>
</div>
</div>

<div class="cards">
<div class="image3" style="height: 200px;" >
  <br>
  <br>
  <br>
<img src="img/search1.png" class="center">
</div>
<div class="title">
<h3 style="color:#879dcc; text-align: center ; font-size: 20px;">View Data</h3><br>
</div>
<div class="des">

<a href="search.html"><button style="background-color:#879dcc; color:black; padding:10px; border-radius:7px;">View</button></a>
<br>
<br>

</div>
</div>


</div>
</div>
</section>
</body>
</html>